* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(#5c93b1, #1b262c) no-repeat;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.line1 {
  position: absolute;
  bottom: 0;
  z-index: -44;
}
.line2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -44;
}
.line3 {
  position: absolute;
  bottom: 0;
  right: 50%;
  z-index: -44;
}
.main-head {
  width: 100%;
  display: flex;
  justify-content: left;
  padding: 20px 30px;
}
.logo {
  color: #fff;
  font-size: 35px;
  font-family: sans-serif;
  font-weight: 600;
}
.intro-sec {
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: #fff;
  margin: 75px auto;
}
.main-sec {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}
.search-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.search-input button {
  font-size: 19px;
  color: #fff;
  font-weight: 600;
  margin: auto 0;
  margin-right: 25px;
  background: linear-gradient(#0000002b, #ffffff00);
  padding: 7px 15px;
  border: none;
  outline: none;
  border-radius: 7px;
}
.search-input input {
  padding: 8px 15px;
  border: none;
  outline: none;
  width: 500px;
  border-radius: 8px;
  font-size: 18px;
  background: linear-gradient(rgb(36 52 61 / 22%), rgb(255 255 255 / 12%))
    no-repeat;
  color: #fff;
}
.search-input input::placeholder {
  color: #fff;
  opacity: 0.5;
}

.wether-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}
.wether-cards .card {
  width: calc(90% / 3);
  margin: 20px;
  border-radius: 10px;
  background: linear-gradient(#0000002b, #ffffff00);
  backdrop-filter: blur(2px);
}
.card img {
  width: 75%;
  transform: translate(100px, -90px);
}
.card .city,
.wind,
.day,
.statue {
  text-align: center;
  color: #fff;
  direction: rtl;
  font-size: 25px;
  margin-bottom: 15px;
}
.card .city span,
.wind span,
.day span {
  color: rgb(165, 165, 165);
  font-size: 20px;
}

/* meadia query */
@media screen and (max-width: 767px) {
  .line1 {
    width: 200px;
  }
  .line2 {
    width: 200px;
  }
  .line2 {
    width: 200px;
  }
  .search-input input {
    width: 275px;
  }
  .wether-cards .card {
    width: 90%;
    margin-bottom: 55px;
  }
  .intro-sec {
    width: 85%;
    line-height: 40px;
  }
}
